
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 12px 0;
    color: #fff;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
    margin-left: -613px;
}
.right{
    position: absolute;
    left: 89%;
    bottom: 20px;
    margin-left: -20px;
}
.left{
    position: absolute;
    left: 25px;
    bottom: 20px;
}
.score{
    font-size: 23px;
    /*position:absolute;*/
    text-align:center;
    width:26px;
   /* padding-top:3px;*/
    color: black;
    margin-left: -113px;
}